@import url('https://fonts.googleapis.com/css2?family=Sofia+Sans+Extra+Condensed&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Sofia Sans Extra Condensed', sans-serif;
    font-size: 20px;
}

/* ---------- HEADER ----------*/

h1{
    transition: transform 0.3s ease-in-out;
}

h1:hover{
    fill-opacity: (0.9);
    transform: scale(1.04);
}

header a{
    text-decoration: none;
    
}

.navinicio {
    background-color: #16191A;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 15px;
}

.navinicio h1 {
    
    color: #CEAD2C;
    font-family: 'Sofia Sans Extra Condensed', sans-serif;
    font-size: 60px;
}



header nav ul{
    list-style: none;
    display: flex;
}

header nav ul li{
    font-size: 25px;
    font-family: 'Sofia Sans Extra Condensed', sans-serif;
}

    header nav ul li a{
    color: #CEAD2C;
    text-decoration: none;
    margin: 20px;
}

.nav-item .nav-link{
    color: #CEAD2C; 
}

.container-fluid a{
    font-family: 'Sofia Sans Extra Condensed', sans-serif;
    font-size: 25px;
}

/* ---------- INDEX MAIN ---------- */
.grid-index{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto;
    grid-template-areas:
    "navbar navbar navbar"
    "presentacion presentacion presentacion"
    "titulo1 titulo1 titulo1"
    "titulo2 titulo2 titulo2"
    "texto1 texto1 img1"
    "img2 texto2 texto2";
}

.navbar{
    grid-area: navbar;
}

.presentacion {
    grid-area: presentacion; 
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    background-image: url("../img/backgroundnav.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    color: white;
    width: 100%;
    height: 550px;
    font-size: 40px;
    font-family: 'Sofia Sans Extra Condensed', sans-serif;
}

.tituloprincipal{
    grid-area: titulo1;
    text-align: center;
    margin: 10px 0px 10px;
    font-family: 'Sofia Sans Extra Condensed', sans-serif;
    font-size: 40px;
    background-color: antiquewhite;
}

.sobre-nosotros{
    grid-area: titulo2;
    background-color: aliceblue;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    font-size: 20px;
    font-family: 'Sofia Sans Extra Condensed', sans-serif;
}

.txtindex1{
    grid-area: texto1;
    background-color: antiquewhite;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    font-family: 'Sofia Sans Extra Condensed', sans-serif;
    font-size: 20px;
}

.imgindex1{
    grid-area: img1;
    display: flex;
    justify-content: center;
    padding: 10px 0px 10px;
    transition: transform 0.4s ease-in-out;
}

.imgindex1:hover{
    fill-opacity: (0.9);
    transform: scale(1.04);
}

.txtindex2{
    grid-area: texto2;
    background-color: aliceblue;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    font-family: 'Sofia Sans Extra Condensed', sans-serif;
    font-size: 20px;
}

.imgindex2{
    grid-area: img2;
    display: flex;
    justify-content: center;  
    padding: 10px 0px 10px;  
    transition: transform 0.4s ease-in-out;
}

.imgindex2:hover{
    fill-opacity: (0.9);
    transform: scale(1.04);
}


.imgindex1 img{
    width: 500px;
    height: 300px;
}

.imgindex2 img{
    width: 500px;
    height: 300px;
}

    /* >>>>>>>>>>>>> @ MEDIA QUERYS @ <<<<<<<<<<<< */

@media screen and (max-width: 990px){
    .grid-index{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: auto;
        grid-template-areas: 
        "navbar navbar"
        "presentacion presentacion"
        "titulo1 titulo1"
        "titulo2 titulo2"
        "texto1 img1"
        "img2 texto2"
    }
}

@media screen and (max-width: 450px){
    .grid-index{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: auto;
        grid-template-areas: 
        "navbar "
        "presentacion"
        "titulo1"
        "titulo2"
    }

    .imgindex1{
        width: 450px;
        height: 300px;
    }

    .imgindex2{
        width: 450px;
        height: 300px;
    }
}

@media screen and (max-width: 400px){
    .imgindex1{
        padding: 10px 0px 10px;
        width: 350px;
        height: auto;
        display: flex;
        justify-content: center;
        align-items: center;

    }

    .imgindex1 img{
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .imgindex2{
        padding: 10px 0px 10px;
        width: 350px;
        height: auto;        
        display: flex;
        justify-content: center;
        align-items: center;
    }

}

    /* >>>>>>>>>>>>> @ MEDIA QUERYS @ <<<<<<<<<<<< */

/* --- FOOTER --- */

.footer-grid{
    display: grid;
    grid-template-columns: repeat(3, 1fr) ;
    grid-template-rows: auto;
    grid-template-areas: 
    "titulo redes navfoot"
}

.titulofooter{
grid-area: titulo;
}

.redesfooter{
grid-area: redes;
}

.footernav{
grid-area: navfoot;
}

footer{
    position: relative;
    background-color: #16191A;
    padding: 50px 0px 50px;
    display: flex;
    justify-content: space-evenly;
}

footer h4{
    color: #CEAD2C;
    font-size: 40px;
    text-align: center;
    margin: 5px;
    font-family: 'Sofia Sans Extra Condensed', sans-serif;
}

footer div img{
    width: 45px;
    height: 45px;
    margin: 0px 10px;
}

.footernav ul{
    display: flex;
}

.footernav ul li{
    list-style: none;
    padding: 10px;
    font-family: 'Sofia Sans Extra Condensed', sans-serif;
    font-size: 20px;
}

.footernav ul li a{
    text-decoration: none;
    color: #CEAD2C;
}

.fixed{
    position: fixed;
    right: 50px;
    bottom: 50px;
}

    /* >>>>>>>>>>>>> @ MEDIA QUERYS @ <<<<<<<<<<<< */
@media screen and (max-width: 820px){

    .footer-grid{
        display: grid;
        grid-template-columns: repeat(2, 1fr) ;
        grid-template-rows: auto;
        grid-template-areas: 
        "navfoot navfoot"
        "titulo redes"
    }

    .footernav ul{
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

@media screen and (max-width: 600px){

    .footer-grid{
        display: grid;
        grid-template-columns: repeat(1, 1fr) ;
        grid-template-rows: auto;
        grid-template-areas: 
        "navfoot"
        "titulo"
        "redes"
    }

    .redesfooter{
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .fixed{
        right: 20px;
        bottom: 20px;

    }

    .navinicio h1{
        font-size: 30px;

    }
}

@media screen and (max-width: 350px){
    .navinicio h1{
        font-size: 25px;
    }
}
    /* >>>>>>>>>>>>> @ MEDIA QUERYS @ <<<<<<<<<<<< */


    /* <<<<<<<<<<<<< MÃQUINAS >>>>>>>>>>>> */ 
.grid-contenedor{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    grid-auto-rows: minmax(200px, auto);
    gap: 20px;
    padding: 20px;
    grid-auto-flow: dense;
}


.larga{
    grid-row: span 2;
}

/*.corta{
    grid-row: span 2;
}*/ 

.box-img{
    border: #16191A 1px solid;
    transition: transform 0.3s ease-in-out;
}

.box-img:hover{
    fill-opacity: (0.9);
    transform: scale(1.04);
}

.box-img img{
    width: 100%;
    height: 100%;
    padding: 10px;
}

.titulomaquinas{
    text-align: center;
    font-family: 'Sofia Sans Extra Condensed', sans-serif;
    
    padding: 20px;
    
}

.titulomaquinas h2{
    font-family: 'Sofia Sans Extra Condensed', sans-serif;
    font-size: 60px;
}

.titulomaquinas p{
    text-align: center;
    font-family: 'Sofia Sans Extra Condensed', sans-serif;
    font-size: 30px;
}













